:root {
  --bg1: #f8f8f8;
  --bg2: #e8e8e8;
  --bg3: #d8d8d8;
  --bg4: #b8b8b8;
  --text4: #585858;
  --text3: #383838;
  --text2: #282828;
  --text1: #181818;
  --opacitybg: 248, 248, 248;
  --chart: #999999;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg1: #181818;
    --bg2: #282828;
    --bg3: #383838;
    --bg4: #585858;
    --text4: #b8b8b8;
    --text3: #d8d8d8;
    --text2: #e8e8e8;
    --text1: #f8f8f8;
    --opacitybg: 24, 24, 24;
    --chart: #666666
  }
}

[theme-mode="light"] {
  --bg1: #f8f8f8;
  --bg2: #e8e8e8;
  --bg3: #d8d8d8;
  --bg4: #b8b8b8;
  --text4: #585858;
  --text3: #383838;
  --text2: #282828;
  --text1: #181818;
  --opacitybg: 248, 248, 248;
  --chart: #999999;
}

[theme-mode="dark"] {
  --bg1: #181818;
  --bg2: #282828;
  --bg3: #383838;
  --bg4: #585858;
  --text4: #b8b8b8;
  --text3: #d8d8d8;
  --text2: #e8e8e8;
  --text1: #f8f8f8;
  --opacitybg: 24, 24, 24;
  --chart: #666666;
}

$red: #ab4642;
$orange: #dc9656;
$yellow: #f7ca88;
$green: #a1b56c;
$cyan: #86c1b9;
$blue: #7cafc2;
$violet: #ba8baf;
$brown: #a16946;