@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700&display=swap');
@import "reset";
@import "color_variables";

body {
  background: var(--bg1);
  color: var(--text1);
  
  * {
    font-family: 'Nunito';
  }
}

@import "modal";
@import "session";
@import "header";
@import "splash";
@import "footer";