@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700&display=swap');
@import "reset";
@import "color_variables";

body {
  background: var(--bg3);
  color: var(--text3);
  
  * {
    font-family: 'Nunito';
  }
}

.body-container {
  max-width: 1280px;
  margin: auto;
  background: var(--bg2);
}

@import "modal";
@import "session";
@import "header";
@import "splash";
@import "portfolio";
@import "footer";