.portfolio-container {
    padding-top: 40px;
    width: 100%;
    height: calc(100vh - 32px);
    max-width: 1080px;
    margin: auto;

    > h1 {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        font-size: 32px;
        padding: 16px 16px 0;
        font-weight: 600;
        > span {
            font-size: 16px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            text-align: end;
        }
    }
}

.portfolio-content {
    display: flex;    
    margin: 16px 16px 16px;
    height: calc(100vh - 160px);
    display: flex;
    justify-content: space-between;

    > div:first-of-type {
        flex: 3;
        overflow-y: scroll;
        margin-top: 8px;
    }

    > div:last-of-type {
        flex: 2;
        margin-left: 16px;
        margin-top: 8px;

        > h1 {
            text-align: center;
            font-size: 24px;
            margin-bottom: 16px;
        }
    }

    > span {
        border-right: var(--text4) solid 2px;
    }

}

.portfolio-items-container {
    margin-right: 16px;
    li {
        position: relative;
        
        font-size: 16px;
        padding-bottom: 16px;
        border-bottom: var(--text4) solid 2px;
        margin-bottom: 16px;

        > div {
            display: flex;
            justify-content: space-between;
            margin-bottom: 8px;

            > span:last-of-type {
                font-weight: 600;
                margin-left: 4px;
            }


            .green {
                color: $green;
            }
            .red {
                color: $red;
            }
        }
        > span {
            font-size: 12px;
            display: flex;
            justify-content: flex-end;
        }
    }
}