.portfolio-container {
    width: 100%;
    height: calc(100vh - 32px);
    max-width: 1120px;
    margin: auto;

    > h1 {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        font-size: 32px;
        padding: 16px 16px 0;
        font-weight: 600;
        flex: 1;
        overflow: hidden;
        > span {
            font-size: 16px;
            line-height: 16px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            text-align: end;
        }
    }
}

.portfolio-content {
    display: flex;    
    margin: 8px 0 0px 16px;
    padding-bottom: 16px;
    height: calc(100vh - 128px);
    justify-content: space-between;
    overflow: hidden;

    > div {
        margin: 8px 0;
        overflow-x: hidden;
    }
    > div:first-of-type {
        flex: 1 1 0;
        overflow-y: scroll;
    }

    > div:last-of-type {
        flex: 1 1 16px;
        display: flex;
        flex-direction: column;

        > h1 {
            text-align: center;
            font-size: 24px;
            padding-bottom: 16px;
            margin: 0 16px 8px 16px;
            border-bottom: var(--text4) solid 2px;
        }
    }

    > span {
        border-right: var(--text4) solid 2px;
    }
}

.portfolio-items-container {
    padding-right: 16px;
    li {
        position: relative;
        font-size: 16px;
        margin-bottom: 16px;
        > div {
            display: flex;
            justify-content: space-between;
            margin: 0 24px 8px 0;
            overflow-x: scroll;
            overflow-y: hidden;
            > span:nth-of-type(2) {
                font-weight: 600;
                margin-left: 4px;
                flex: 1 1;
                text-align: end;
                white-space: nowrap;
                svg {
                    margin-left: 4px;
                }
            }
            .green {
                color: $green;
            }
            .red {
                color: $red;
            }
        }

        > svg {
            position: absolute;
            margin-left: 4px;
            top: 0;
            right: 0;
            color: var(--text4);
            cursor: pointer;
        }

        > svg:hover {
            color: $blue;
        }

        > span {
            font-size: 14px;
            margin: 12px 0 0 12px;
            display: inline-block;
            text-transform: uppercase;
            letter-spacing: 1px;
        }

        > span:first-of-type {
            text-transform: initial;
            display: flex;
            justify-content: space-between;
            margin: 4px 0 0;
            font-size: 12px;
            letter-spacing: 0px;
            overflow-x: scroll;
            overflow-y: hidden;
            > span:first-of-type {
                margin-right: 2px;
            }
            > span:last-of-type {
                margin-left: 2px;
                text-align: end;
            }
        }
        .transaction-date {
            justify-content: flex-end !important;
            text-align: end;
        }
    }

    li:last-of-type {
        margin-bottom: 0;
    }

    .spacer {
        margin: 16px 0;
        display: block;
        border-bottom: var(--text4) solid 2px;
    }

    .spacer:last-of-type {
        margin-bottom: 0px;
    }

    p {
        display: block;
        margin: 12px 12px 0;
        font-size: 12px;
        line-height: normal;
        color: var(--text4);
        text-align: center;

        a {
            color: $blue;
        }

        a:hover {
            color: var(--text1);
        }
    }
}

.no-trades-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow-y: scroll;
    line-height: normal;

    h1 {
        font-size: 32px;
        margin-bottom: 16px;
    }

    span {
        font-size: 24px;
        margin-bottom: 16px;
    }

    svg {
        font-size: 48px;
    }
}

.portfolio-table-container {
    margin-top: 8px !important;
    margin-bottom: 0 !important;
    width: 100%;
    font-size: 12px;
    border: var(--text4) solid 2px;
    border-radius: 4px;
    background-color: var(--bg1);
    overflow-x: scroll;;


    table {
        width: 100%;
    }

    th, td {
        padding: 4px;
        line-height: normal;
        text-align: center;

        svg {
            margin-left: 4px;
        }
    }

    thead {
        font-size: 14px;
        border-bottom: var(--text4) solid 2px;
        text-transform: uppercase;
        color: $blue;
        font-weight: 600;
        th {
            padding-top: 8px;
        }
    }

    th:first-of-type, td:first-of-type {
        padding-left: 8px;
    }

    th:last-of-type, td:last-of-type {
        padding-right: 8px;
    }

    tbody {
        > tr:nth-child(odd) {
            background-color: var(--bg2);
        }

        > tr:last-of-type td {
            padding-bottom: 8px;
        }
    }
}