.purchase-form-container {
    margin-top: 8px;
    position: relative;
    overflow-y: scroll;

    > form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    input, .purchase-button {
        width: 100%;
        font-size: 16px;
        padding: 8px 16px;
        margin: 0 auto 8px !important;
        border-radius: 4px;
        border: var(--text4) solid 3px;
        outline: none;
        color: var(--text3);
        background-color: var(--bg1);
    }

    input:focus {
        border-color: $blue;
    }

    input:disabled {
        cursor: not-allowed;
    }

    .purchase-button {
        text-align: center;
        font-weight: 600;
        cursor: pointer;
        margin: auto;
        white-space:nowrap !important;
    }

    .purchase-button:hover {
        background-color: $blue;
        border-color: var(--text1);
        color: var(--text1);
    }

    .purchase-button.disabled, .purchase-button:disabled {
        cursor: not-allowed;
        color: var(--text4);
    }

    .purchase-button.disabled:hover, .purchase-button:disabled:hover {
        cursor: not-allowed;
        color: var(--text3);
        background-color: var(--bg1);
        border: var(--text4) solid 3px;
        color: var(--text4);
    }

    .purchase-error {
        color: $red;
        font-weight: 600;
        margin-bottom: 8px;
    }

    span {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 8px;
    }

    span:first-of-type {
        margin-top: 8px;
    }

    span:last-of-type {
        margin-bottom: 16px;
    }
}




    